<h1> Look at all these pets! </h1>

<% @pets.each do |pet| %>
  <h2> <%= link_to pet.name, "/pets/#{pet.id}" %> </h2>
  <br>
  <%= image_tag(pet.image, :size => "260x180", method: :get) %>
  <br>
  <p> Approximate age: <%= pet.age %> </p>
  <br>
  <p> Sex: <%= pet.sex %> </p>
  <br>
  <p> This pet is located in <%= pet.current_shelter %> </p>
  <br>
  <% end %>
